*{
	padding: 0;
	margin: 0 auto;
	border: 0;
	outline: inherit;
	list-style: none;
}
body{
	overflow-y: hidden;
	color: white;
	font-family: 'Roboto', sans-serif;
}




/*  Estilos Generales*/

.banner{ /*contenedor de los banners*/
		background: #8e44ad;
		width: 594px; 
		height: 333px;
		
		border-radius: 9px;
		box-shadow: #020713c7 -6px 5px 17px 0px;
}

.logos{
	width: 100%;
	margin-top: 0;

	display: flex;
    flex-direction: row;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-evenly;

	grid-column-start: 1;
    grid-column-end: -1; 
}

.img{
	border-radius: 10px !important;
}

/*  Fin Estilos Generales*/





/* menu */

.nav{
	position: fixed;
	right: 0;
	left: 0;
	bottom: 15px;
	justify-content: center;
}
.nav a{
	width: 20px;
	height: 20px;
	background: #e81c1c;
	margin: 0 20px;
	border-radius: 50%;
	box-shadow: #050d33 -2px 1px 4px 1px;
}

/* fin menu */



/* timeline */

.lienzo{
	width: 1000%;
	height: 100vh;
	background: #081b79;
}
.cont{
	width: 10%;
	height: 100vh;
	float: left;
}

/* fin timeline */



/* portada */

.logo{
	width: 300px;
	height: 270px;
	background: #8e44ad;
	margin: 55px auto;
}

.texto-intro{
	padding: 0 130px;
	text-align: center;
	margin-bottom: 53px;
}


/* fin portada */




/* sec1 */

.sec1{
	display: grid;
	grid-gap: 8px;
	grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "header 		header 		header"
                         "contenido 	contenido 	contenido"
                         "footer 		footer 		footer";
}

.sec1-intro{
	margin-top: 73px;
    text-align: justify;
    width: 541px;
    margin-left: 6px;
}

.btn-sec1{
	margin: 30px 70px;
	float: right;
}


/* fin sec1 */

/* sec2 */

.sec2{
	display: grid;
	grid-gap: 8px;
	grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "header 		header 		header"
                         "sidebar-1 	contenido 	sidebar-2"
                         "sidebar-1 	widgets 	sidebar-2"
                         "footer 		footer 		footer";
}

.sec2-intro{
	margin-top: 73px;
    text-align: justify;
    width: 541px;
    margin-left: 6px;
}

.btn-sec2{
	margin: 30px 70px;
	float: right;
}
/* fin sec2 */


/* sec3 */
.sec3{
	display: grid;
	grid-gap: 8px;
	grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "header 		header 		header"
                         "sidebar-1 	contenido 	sidebar-2"
                         "sidebar-1 	widgets 	sidebar-2"
                         "footer 		footer 		footer";
}

.sec3-intro{
	margin-top: 73px;
    text-align: justify;
    width: 541px;
    margin-left: 6px;
}

.btn-sec3{
	margin: 30px 70px;
	float: right;
}


/* fin sec3 */

/* sec4 */

.sec4{
	display: grid;
	grid-gap: 8px;
	grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "header 		header 		header"
                         "sidebar-1 	contenido 	sidebar-2"
                         "sidebar-1 	widgets 	sidebar-2"
                         "footer 		footer 		footer";
}

.sec4-intro{
	margin-top: 73px;
    text-align: justify;
    width: 541px;
    margin-left: 6px;
}

.btn-sec4{
	margin: 30px 70px;
	float: right;
}

/* fin sec4 */

/* sec5 */

.sec5{
	display: grid;
	grid-gap: 8px;
	grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "header 		header 		header"
                         "sidebar-1 	contenido 	sidebar-2"
                         "sidebar-1 	widgets 	sidebar-2"
                         "footer 		footer 		footer";
}

.sec5-intro{
	margin-top: 73px;
    text-align: justify;
    width: 541px;
    margin-left: 6px;
}

.btn-sec5{
	margin: 30px 70px;
	float: right;
}


/* fin sec5 */

/* sec6 */

.sec6{
	display: grid;
	grid-gap: 8px;
	grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "header 		header 		header"
                         "sidebar-1 	contenido 	sidebar-2"
                         "sidebar-1 	widgets 	sidebar-2"
                         "footer 		footer 		footer";
}

.sec6-intro{
	margin-top: 73px;
    text-align: justify;
    width: 541px;
    margin-left: 6px;
}

.btn-sec6{
	margin: 30px 70px;
	float: right;
}

/* fin sec6 */

/* sec7 */

.sec7{
	display: grid;
	grid-gap: 8px;
	grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "header 		header 		header"
                         "sidebar-1 	contenido 	sidebar-2"
                         "sidebar-1 	widgets 	sidebar-2"
                         "footer 		footer 		footer";
}

.sec7-intro{
	margin-top: 73px;
    text-align: justify;
    width: 541px;
    margin-left: 6px;
}

.btn-sec7{
	margin: 30px 70px;
	float: right;
}

/* fin sec7 */



/* sec8 */

.sec8{
	display: grid;
	grid-gap: 8px;
	grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "header 		header 		header"
                         "sidebar-1 	contenido 	sidebar-2"
                         "sidebar-1 	widgets 	sidebar-2"
                         "footer 		footer 		footer";
}

.sec8-intro{
	margin-top: 73px;
    text-align: justify;
    width: 541px;
    margin-left: 6px;
}

.btn-sec8{
	margin: 30px 70px;
	float: right;
}

/* fin sec8 */



/* sec9 */

.sec9{
	display: grid;
	grid-gap: 8px;
	grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "header 		header 		header"
                         "sidebar-1 	contenido 	sidebar-2"
                         "sidebar-1 	widgets 	sidebar-2"
                         "footer 		footer 		footer";
}

.sec9-intro{
	margin-top: 73px;
    text-align: justify;
    width: 541px;
    margin-left: 6px;
}

.btn-sec9{
	margin: 30px 70px;
	float: right;
}

/* fin sec9 */



  /*scroll*/

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(95, 95, 95, 0.26);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
