*{
	padding: 0;
	margin: 0 auto;
	border: 0;
	outline: inherit;
	list-style: none;
}
body{
	overflow-y: hidden;
	color: #505050;
	font-family: 'Roboto', sans-serif;
}




/*  Estilos Generales*/

.banner{ /*contenedor de los banners*/
		width: 594px; 
		height: 333px;
		
		border-radius: 9px;
		box-shadow: #27272773 -1px 7px 17px 0px;
}

.logos{
	width: 100%;
	margin-top: 0;

	display: flex;
    flex-direction: row;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-evenly;

	grid-column-start: 1;
    grid-column-end: -1; 
        margin-bottom: 12px;
}

.img{
	border-radius: 10px !important;
}



.btn{
	color: #ffffff;
    background-color: #ffb100;
    border-color: #ffb100;
    font-size: larger;
}

.btn:hover{
	color: #ffffff;
	background-color: #ffb100;
    border-color: #ffb100;
    box-shadow: #5a5a5ab8 0px 2px 8px 0px;
}

/*  Fin Estilos Generales*/





/* menu */

.nav{
	position: fixed;
	right: 0;
	left: 0;
	bottom: 15px;
	justify-content: center;
}
.nav a{
	width: 20px;
	height: 20px;
	background: #fff;
	margin: 0 20px;
	border-radius: 50%;
	box-shadow: #2f2f2f73 -2px 1px 4px 1px;
    position: relative;;
}

.active{
    box-shadow: 0 0 20px white;
    animation: 1s palpitar infinite;
}
@keyframes palpitar{
    0%{
        box-shadow: 0 0 20px white;
    }
    50%{
        box-shadow: 0 0 0px white;
    }
    100%{
        box-shadow: 0 0 20px white;
    }
}

    /* LightBox */

    .cuadro{
        width: 115px;
        height: 30px;
        background: white;
        position: absolute;
        left: -45px;
        top: -40px;
        border-radius: 20px;
        display: none;
    }
    .cuadro h4{
        padding: 5px 0;
        font-size: 15px;
        color: #505050;
        text-align: center;
    }

/* fin menu */



/* timeline */

.lienzo{
	width: 1000%;
	height: 100vh;
}
.cont{
	width: 10%;
	height: 100vh;
	float: left;	
}

/* fin timeline */



/* portada */

.logo{
	height: 225px;
    width: auto;
	margin: 55px auto;
	text-align: center;
	animation-delay: 0.7s;
}

.texto-intro{
	padding: 0 130px;
	text-align: center;
	margin-bottom: 53px;
	animation-delay: 0.7s;
}
.portada{
	background: url(../img/Fondo_Inicio.jpg);
	background-size: cover; 
}


/* fin portada */




/* sec1 */

.sec1{
	display: grid;
	grid-gap: 8px;
	grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "header 		header 		header"
                         "contenido 	contenido 	contenido"
                         "footer 		footer 		footer";
    background-image: url(../img/Fondo_contenido.jpg);
    background-size: cover; 
}

.sec1-intro{
	margin-top: 73px;
    text-align: justify;
    width: 541px;
    margin-left: -3px;
}

.btn-sec1{
	margin: 30px 70px;
	float: right;
}


/* fin sec1 */

/* sec2 */

.sec2{
	display: grid;
	grid-gap: 8px;
	grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "header 		header 		header"
                         "sidebar-1 	contenido 	sidebar-2"
                         "sidebar-1 	widgets 	sidebar-2"
                         "footer 		footer 		footer";
    background: url(../img/Fondo_contenido.jpg);
    background-size: cover; 
}

.sec2-intro{
	margin-top: 73px;
    text-align: justify;
    width: 541px;
    margin-left: -3px;
}

.btn-sec2{
	margin: 30px 70px;
	float: right;
}
/* fin sec2 */


/* sec3 */
.sec3{
	display: grid;
	grid-gap: 8px;
	grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "header 		header 		header"
                         "sidebar-1 	contenido 	sidebar-2"
                         "sidebar-1 	widgets 	sidebar-2"
                         "footer 		footer 		footer";
   	background: url(../img/Fondo_contenido.jpg);
   	background-size: cover; 

}

.sec3-intro{
	margin-top: 48px;
    text-align: justify;
    width: 541px;
    margin-left: -3px;
}

.btn-sec3{
	margin: 30px 70px;
	float: right;
}


/* fin sec3 */

/* sec4 */

.sec4{
	display: grid;
	grid-gap: 8px;
	grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "header 		header 		header"
                         "sidebar-1 	contenido 	sidebar-2"
                         "sidebar-1 	widgets 	sidebar-2"
                         "footer 		footer 		footer";
    background: url(../img/Fondo_contenido.jpg);
    background-size: cover; 
}

.sec4-intro{
	margin-top: 73px;
    text-align: justify;
    width: 541px;
    margin-left: -3px;
}

.btn-sec4{
	margin: 30px 70px;
	float: right;
}

/* fin sec4 */

/* sec5 */

.sec5{
	display: grid;
	grid-gap: 8px;
	grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "header 		header 		header"
                         "sidebar-1 	contenido 	sidebar-2"
                         "sidebar-1 	widgets 	sidebar-2"
                         "footer 		footer 		footer";
    background: url(../img/Fondo_contenido.jpg);
    background-size: cover; 

}

.sec5-intro{
	margin-top: 73px;
    text-align: justify;
    width: 541px;
    margin-left: -3px;
}

.btn-sec5{
	margin: 30px 70px;
	float: right;
}


/* fin sec5 */

/* sec6 */

.sec6{
	display: grid;
	grid-gap: 8px;
	grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "header 		header 		header"
                         "sidebar-1 	contenido 	sidebar-2"
                         "sidebar-1 	widgets 	sidebar-2"
                         "footer 		footer 		footer";
	background: url(../img/Fondo_contenido.jpg);
	background-size: cover; 
}

.sec6-intro{
	margin-top: 73px;
    text-align: justify;
    width: 541px;
    margin-left: -3px;
}

.btn-sec6{
	margin: 30px 70px;
	float: right;
}

/* fin sec6 */

/* sec7 */

.sec7{
	display: grid;
	grid-gap: 8px;
	grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "header 		header 		header"
                         "sidebar-1 	contenido 	sidebar-2"
                         "sidebar-1 	widgets 	sidebar-2"
                         "footer 		footer 		footer";
    background: url(../img/Fondo_contenido.jpg);
    background-size: cover; 
}

.sec7-intro{
	margin-top: 73px;
    text-align: justify;
    width: 541px;
   margin-left: -3px;
}

.btn-sec7{
	margin: 30px 70px;
	float: right;
}

/* fin sec7 */



/* sec8 */

.sec8{
	display: grid;
	grid-gap: 8px;
	grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "header 		header 		header"
                         "sidebar-1 	contenido 	sidebar-2"
                         "sidebar-1 	widgets 	sidebar-2"
                         "footer 		footer 		footer";
    background: url(../img/Fondo_contenido.jpg);
    background-size: cover; 
}

.sec8-intro{
	margin-top: 73px;
    text-align: justify;
    width: 541px;
    margin-left: -3px;
}

.btn-sec8{
	margin: 30px 70px;
	float: right;
}

/* fin sec8 */



/* sec9 */

.sec9{
	display: grid;
	grid-gap: 8px;
	grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "header 		header 		header"
                         "sidebar-1 	contenido 	sidebar-2"
                         "sidebar-1 	widgets 	sidebar-2"
                         "footer 		footer 		footer";
    background: url(../img/Fondo_contenido.jpg);
    background-size: cover; 
}

.sec9-intro{
	margin-top: 73px;
    text-align: justify;
    width: 541px;
    margin-left: -3px;
}

.btn-sec9{
	margin: 30px 70px;
	float: right;
}

/* fin sec9 */



  /*scroll*/


  ::-webkit-scrollbar {
    display: none;
}

/* width 
::-webkit-scrollbar {
  width: 7px;
}*/

/* Track 
::-webkit-scrollbar-track {
  background: rgba(95, 95, 95, 0.26);
}*/
 
/* Handle 
::-webkit-scrollbar-thumb {
  background: #888; 
}*/

/* Handle on hover 
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
*/