


@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);


body{
  background: black;
}

svg{
  width: 100%;
  height: 170px;
  position: relative;
  overflow: hidden; 
  margin: 0 auto;
  background: black;
}